:root {
    --primary-color: #727272;
    --orange: #FF900E;
}




/* custon css class ------------------------------------------------- */
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: var(--primary-color);
}

h2 {
    font-size: 45px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.btn {
    padding: 20px 25px;
    font-size: 20px;
    color: white;
    border: 0;
    border-radius: 8px;
    background: var(--orange);
    margin: 30px 0;
}

/* custon css class -------------------------------------------------*/


/* header section start ---------------------------------------------- */
#header {
    background: #FFF4E7;
    padding-bottom: 45px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.logo h2 {
    font-size: 45px;
    font-weight: 700;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 20px;
}

.menu li a {
    text-decoration: none;
    padding: 10px 5px;
    text-transform: capitalize;
    font-size: 18px;
    color: #424242;
}


.header-top {
    text-align: center;
}

.header-top h1 {
    font-size: 64px;
}

/* header section end---------------------------------------------- */

/* featutres section css  ------------------------------------------*/
.features-container {
    display: flex;
    padding: 70px 0;
}

.features-gallery img {
    margin: 5px;
}

.features-deatils {
    height: 360px;
    width: 80%;
    margin: auto 0;

}

.primary {
    color: var(--primary-color);
}

.orange {
    color: var(--orange);
}

/* featutres section css  -------------------------------------------*/

/* expreince section css  --------------------------------------------*/
.experience-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.experience-deatils {
    width: 40%;
}

.experience-deatils h2 {
    border-left: 4px solid var(--orange);
    padding-left: 20px;
}

.exp-item {
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(227, 227, 228);
}

.experience-img {
    width: 50%;
    position: relative;
}

.experience-tab {
    background: var(--orange);
    width: 50%;
    text-align: center;
    padding: 40px 0;
    border-radius: 8px;
    position: absolute;
    bottom: -20px;
    left: -90px;
}

.experience-tab h1 {
    font-size: 55px;
    color: #FFF4E7;
    margin: 0;
}

.experience-tab p {
    color: #FFF4E7;
}


/* expreince section css ---------------------------------------------- */
/* facts section css ---------------------- */
.facts-container {
    padding: 50px 0;
}

.facts-container h2 {
    margin: 0;
}

.facts-items {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.fact-item {
    width: 20%;
    border: 1px solid var(--orange);
    text-align: center;
    padding: 30px 0;
    border-radius: 8px;

}
/* facts section css ---------------------- */

/* sponspors section css  ----------------------------------------------*/
#sponsors-section {
    margin-bottom: 100px;
}
.sponspors-container {
    text-align: center;
}

.spon-companis {
    display: flex;
    justify-content: space-between;
    color: #727272;
    margin-top: 70px;
}

.spon-companis img {

    filter: grayscale(100%);
}

/* sponspors section css  ----------------------------------------------*/

/* contact section css ----------------------------------------------- */
/* #contact-section {
    background:#FFF4E7;
} */
#contact-section {
    background:#f0efee25;
}
.contact-container {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
}
.container-banner {
    border-right: 4px solid var(--orange);
}
.contact-form {
    width: 40%;
    display: flex;
    align-items: center;
    
}

.form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    box-shadow: 0 0 10px rgb(216, 216, 216);
    border-radius: 8px;
}

.form input {
    /* width: 100%; */
    padding: 15px 20px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(216, 216, 216);
}

/* contact section css ----------------------------------------------- */

/* footer section css ------------------------------------------------- */
.footer-container{
    background: #FFF4E7;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
}
footer{
    margin-top: 50px;
}
/* footer section css ------------------------------------------------- */